<!DOCTYPE html>
<html>

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="yes" name="apple-touch-fullscreen"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/css/main.css" >
	
	<script type="text/javascript" language="javascript" src="/js/utils.js"></script>
	
	<script type="text/javascript" language="javascript" src="/js/jquery-2.1.4.min.js"></script>
	

	<title>{{title}}</title>
</head>

<body class="">

    {{{body}}}

</body>
</html>